.footer {
    background-color: $color-grey-dark-3;   //Setting the initial styles
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 4rem;
        }
    }
    &__logo {
        width: 15rem;   //Setting the size of the logo
        height: auto;
    }
    &__navigation {
        border-top: 1px solid $color-grey-light-2;  //Actual line
        padding-top: 2rem;                          //space for the line and list
        display: inline-block;                      //For the line to follow the end of the list

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }
    &__list {
        list-style: none;   //So it doesn't have bullets
    }
    &__item {
        display: inline-block;  //So each items can be side by side
        
        //Gives space on the right but not the last child
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1; //Gives all the links that are clicked or not yet color
            text-decoration: none;      //no underline
            text-transform: uppercase;   //uppercase
            display: inline-block;
            transition: all .2s;
            background-color: $color-grey-dark-3;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black,.4);  //To give it shadow when you hover
            transform: rotate(5deg) scale(1.3);             //To give it that popping effect
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-light-2;  //Actual line
        padding-top: 2rem;                          //space for the line and list
        width: 80%;             //for it to be symmetrical
        float: right;           //for it to flow right

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    }
}